@theme-img-path: '../../../themes/@{theme}/img/';

#app{
    .centerPanel {
        .title {
            position: absolute;
            left: 110px;
            z-index: 1;
            height: 28px;
            padding: 0 5px 0 15px;
            background-color: #000;
        }
        .content{
            #viewer {
                margin: 0 0px 0 0px;
			}
		}
	}
}