@theme-img-path: '../../../themes/@{theme}/img/';

#app {
    .footerPanel{
        display: none;
        height: 0;
        
        // .searchPager {
        //     .controls{
        //         .searchResultsInfo{
        //             width: 340px;
        //         }
        //     }
        // }
    }
}