@theme-img-path: '../../../themes/@{theme}/img/';
@headerLinkColor: #000;

#app{
    .headerPanel{
        background-color: #F2B600;
        height: 48px;
        
        .headerBorder {
            display: block;
            background-image: url('/Administration/Images/Layout/body-header-colorbar.jpg');
            background-color: #AD0338;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 8px;
            clear: both;
        }
        
        

        .options{
            .centerOptions{
                width: 385px;
                
                .prev-options {
                    margin-right: 10px;
                }
 
                .image-dropdown {
                     padding: 0 7px 0 7px;
                }
                
                .next-options {
                    margin-left: 10px;
                }
            }
            
            .rightOptions{
                a{
                    color: @headerLinkColor !important;
                    
                    &:link, &:visited, &:hover, &:active {
                        color: @headerLinkColor !important;
                    }
                }
            }
        }
    }
}