@theme-img-path: '../../../../themes/@{theme}/assets/';
@header-img-path: '../../../modules/uv-pagingheaderpanel-module/img/';
@headerLinkColor: #000;
@buttonBorderColor: #522E2E;

.uv-icon-settings {
    background-image: data-uri('@{theme-img-path}settings.png');
}

.uv-icon-download {
    background-image: data-uri('@{theme-img-path}download.png');
}

.uv-icon-print {
    background-image: data-uri('@{theme-img-path}print.png');
}

.uv-icon-fullscreen {
    background-image: data-uri('@{theme-img-path}fullscreen.png');
}

.uv-icon-exit-fullscreen {
    background-image: data-uri('@{theme-img-path}exit_fullscreen.png');
}

.uv {
    .headerPanel{       
        height: 48px;
        
        .headerBorder {
            display: block;
            background-color: #0d5c91;
            width: 100%;
            height: 8px;
            clear: both;
        }

        .options {
            background-color: @riksarkivet-header-color;
            background-image: url("@{theme-img-path}logo.png");
            background-repeat: no-repeat;
            background-position: -2px -5px;
            background-size: 140px;
        
            @media (max-width: 500px) { 
                background-image: url("../../img/logo-mini.png");
                background-size: 40px auto;
            }
        }
        
        button.btn.imageBtn{
            &.first, &.prev, &.next, &.last, &.prev-five, &.next-five {
                .riksarkivet-header-button(40px, 30px);
            }
        }

        .options{
            .centerOptions{
                width: auto;
                margin-top: 5px;

                @media (max-width: 500px) { 
                    left: 40px !important;
                }
                
                @media (min-width: 501px) and (max-width: 800px) {
                    left: 140px !important;
                }
                
                .prevOptions {
                    margin-right: 5px;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
                
                .image-selectionbox-options {
                    height: 30px;
                    overflow: hidden;
                    background-image: url('@{theme-img-path}select.png');
                    background-repeat: no-repeat;
                    background-position: right 5px center;
                    border: 1px solid @buttonBorderColor;
                    border-width: 0px 1px 1px 0px;
                    border-radius: 4px;
                    outline: none;
                }
 
                .image-selectionbox {
                    height: 30px;
                    max-width: 200px; 
                    padding: 0 25px 0 5px;
                    font-size: 15px;
                    color: #000;
                    border-width: 0;
                    border-radius: 0;
                    cursor: pointer;
                    background: transparent;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    -ie-appearance: none;
                    margin-left: 1px;
                    
                    option {
                        background-color: #fff;
                        color: #000;
                    }

                    .focus-border();
                    &:focus {
                        margin-left: 0;
                        border-right: 0;
                    }
                }
                
                select::-ms-expand{
                    display:none;
                }
                
                .nextOptions {
                    margin-left: 5px;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
            
            .rightOptions {
                @media (max-width: 400px) {
                    display: none;
                }

                margin-top: 5px;

                button {
                    margin-right: 0;
                    color: @headerLinkColor !important;
                    // outline: none;
                    // border: 1px solid @riksarkivet-header-color;
                    // border-radius: 4px;
                    
                    &:link, &:visited, &:hover, &:active {
                        color: @headerLinkColor !important;
                    }
                    
                    .riksarkivet-header-button(40px, 30px);
                }

                .linkOldImageViewer {
                    margin-top: 6px;
                    margin-right: 12px;
                    text-decoration: underline;
                    border: 0;
                    padding: 2px;
                    
                    &:hover {
                        border: 0;
                    }
                
                    &:active {
                        border: 0;
                    }

                    .focus-border();
                    &:focus {
                        margin-top: 5px;
                        margin-right: 11px;
                    }
                }

            }
        }
    }
}


#app.browser-Explorer.browser-version-8 {
    .headerPanel{
        .options{
            .centerOptions{
                .image-dropdown-options {
                    height: 30px;
                    background-color: @riksarkivet-header-color;
                    background-image: none;
                    border: none;
                    border-width: 0;
                }
            }
        }
    } 
}