@theme-img-path: '../../../themes/@{theme}/img/';
@headerLinkColor: #000;
@buttonBorderColor: #522E2E;

#app{
    .headerPanel{
        background-color: @riksarkivet-header-color;
        height: 48px;
        
        background-image: url("@{theme-img-path}logo.png");
        background-repeat: no-repeat;
        background-position: -2px -5px;
        background-size: 140px;
        
        @media (max-width: 500px) { 
            background-image: url("../../img/logo-mini.png");
            background-size: 40px auto;
        }
        
        .headerBorder {
            display: block;
            background-image: url('@{theme-img-path}body-header-colorbar.jpg');
            background-color: #AD0338;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 8px;
            clear: both;
        }
        
        a.imageBtn{
            background-color: @riksarkivet-header-color !important;
            background-position: center center !important;
            width: 40px;
            height: 30px;
            outline: none;
            border: 1px solid @riksarkivet-header-color;
            border-radius: 4px;
            
            &:hover {
                border: 1px solid @buttonBorderColor;
                border-width: 0px 1px 1px 0px;
                border-radius: 4px;
            }
            
            &:active {
                border: 1px solid @buttonBorderColor;
                border-radius: 4px;
                background-position: center 5px !important;
            }
        }

        .options{
            .centerOptions{
                width: auto;

                @media (max-width: 500px) { 
                    left: 40px !important;
                }
                
                @media (min-width: 501px) and (max-width: 800px) {
                    left: 140px !important;
                }
                
                .prevOptions {
                    margin-right: 5px;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
                
                .image-dropdown-options {
                    height: 30px;
                    overflow: hidden;
                    background-image: url('@{theme-img-path}select.png');
                    background-repeat: no-repeat;
                    background-position: right 5px center;
                    border: 1px solid @buttonBorderColor;
                    border-width: 0px 1px 1px 0px;
                    border-radius: 4px;
                    outline: none;
                    // 
                    // &:hover {
                    //     border: 1px solid @buttonBorderColor;
                    //     border-width: 0px 1px 1px 0px;
                    //     border-radius: 4px;
                    // }
                    // 
                    // &:active {
                    //     border: 1px solid @buttonBorderColor;
                    //     border-width: 1px;
                    //     border-radius: 4px;
                    // }
                }
 
                .image-dropdown {
                    height: 30px;
                    max-width: 200px; 
                    padding: 0 25px 0 5px;
                    font-size: 15px;
                    color: #000;
                    border-width: 0;
                    border-radius: 0;
                    cursor: pointer;
                    background: transparent;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -o-appearance: none;
                    -ie-appearance: none;
                    
                    option {
                        background-color: #fff;
                        color: #000;
                    }
                }
                
                select::-ms-expand{
                    display:none;
                }
                
                .nextOptions {
                    margin-left: 5px;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
            
            .rightOptions{
                margin: 5px 15px 0 0;
                    
                @media (max-width: 400px) {
                    display: none;
                }
                
                a{
                    margin-right: 0;
                    color: @headerLinkColor !important;
                    outline: none;
                    border: 1px solid @riksarkivet-header-color;
                    border-radius: 4px;
                    
                    &:link, &:visited, &:hover, &:active {
                        color: @headerLinkColor !important;
                    }
                    
                    &.settings{
                        .riksarkivet-header-icon(url('@{theme-img-path}settings.png'), 40px, 30px);
                    }

                    &.download{
                        .riksarkivet-header-icon(url('@{theme-img-path}download.png'), 40px, 30px);
                    }

                    &.print{
                        .riksarkivet-header-icon(url('@{theme-img-path}print.png'), 40px, 30px);
                    }

                    &.fullScreen{
                        .riksarkivet-header-icon(url('@{theme-img-path}fullscreen.png'), 40px, 30px);
                    }

                    &.exitFullscreen{
                        .riksarkivet-header-icon(url('@{theme-img-path}exit_fullscreen.png'), 40px, 30px);
                    }
                    &.linkOldImageViewer{
                        margin-top: 6px;
                        margin-right: 12px;
                        text-decoration: underline;
                        
                        &:hover {
                            border: 0;
                        }
                    
                        &:active {
                            border: 0;
                        }
                    }
                    
                    &:hover {
                        border: 1px solid @buttonBorderColor;
                        border-width: 0px 1px 1px 0px;
                        border-radius: 4px;
                    }
                    
                    &:active {
                        border: 1px solid @buttonBorderColor;
                        border-radius: 4px;
                        background-position: center 5px !important;
                    }
                }
            }
        }
    }
}


#app.browser-Explorer.browser-version-8 {
    .headerPanel{
        .options{
            .centerOptions{
                .image-dropdown-options {
                    height: 30px;
                    background-color: @riksarkivet-header-color;
                    background-image: none;
                    border: none;
                    border-width: 0;
                }
            }
        }
    } 
}