.riksarkivet-header-icon(@img, @width, @height){
    width: @width;
    height: @height;
    
    span {
        .icon-btn(@img, @height);
        width: @width;
        height: @height;
        padding: 0;
        background-position: center center;
    }
}

