#app {
    .rightPanel{
        .main{
            .items{
                background: #192533;
                color: #fff;
                .header{
                    font-size: 13px;
                }
                .item{
                    .header{
                        font-size: 13px;
                    }
                    .text{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}