#app {
    // background-image: url('/Administration/Images/bg_monster_240.jpg');
    // background-position: bottom right;
    // background-repeat: repeat-x;
    
    .mainPanel{
        margin-right: 0;
        margin-left: 0;
    }
    .overlay{
        &.download{
            .bottom{
                background: none;
            }
        }
        &.adjust {
            .middle {
                border: 1px solid silver;
            }
        }
        
    }
}