#app {
    .leftPanel{
        .views{
            .treeView{
			    @media (max-width: 580px)
			    {
    			    .tree > li{
		                margin-bottom: 10px;
		                font-size: 18px;
			        }
		        }
			    @media (min-width: 581px)
			    {
    			    .tree > li{
		                font-size: 14px;
			        }
		        }                    		
            }
        }
    }
}