#app {
    .leftPanel{
        .views{
            .treeView{
                background: #192533;
                color: #fff;
                /*background: #F7F7F7;
                color: #222;*/
                ul.tree{
			        @media (min-device-width: 769px)
			        {
    			        li{
                            font-size: 14px;
			            }
		            }
			        @media (max-device-width: 768px)
			        {
    			        li{
                            font-size: 18px;
                            margin-bottom: 10px;
			            }
		            }
		        }  
                .toggle{
			        @media (max-device-width: 768px)
			        {
                        height: 14px;
                        width: 14px; 
		            }
                }                                 		
            }
        }
    }
}